node_modules/*
coverage
todo.txt
*.swp
*.swo
package-lock.json
.DS_Store
dist/*
!dist/leaflet.distortableimage.css
!dist/leaflet.distortableimage.js
!dist/vendor.js
!dist/vendor.css
!node_modules/leaflet/dist/leaflet.css
!node_modules/leaflet/dist/leaflet.js
