#imgcontainer {
  position:relative;
  width: 100%;
  height: 100%;
  overflow: clip;
}

#imgdistort {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
}

.corner {
  position: absolute;
  top: -10px; left: -10px;
}

#inputimage {
  position:absolute; 
  top:-100px;
}
