html, body {
    border: 0px;
    margin: 0px;
    }

#map {
    float: left;
    width: 800px;
    height: 600px;
    border: 1px solid black;
    }

#theCanvas {
    z-index: 2;
    float: left;
    position: absolute;
    left: 0px;
    top:0px;
    pointer-events: none;
    }
