.distortableImageTooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px white;
  z-index: 1800;
  position: absolute;
}

/* .tooltipText { 
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; 
  visibility: hidden;
  background-color: #fff;
  color: red;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
}  */